# DAT210x - Programming with Python for DS

## Module2 - Lab5

Import and alias Pandas:

In [1]:
import pandas as pd

As per usual, load up the specified dataset, setting appropriate header labels.

In [2]:
!ls Datasets

census.data          servo.data
direct_marketing.csv tutorial.csv

In [18]:
df = pd.read_csv('Datasets/census.data', header=None)

In [19]:
df = df.drop(columns=0, axis=1)

In [20]:
df.columns =  ['education', 'age', 'capital-gain', 'race', 'capital-loss', 'hours-per-week', 'sex', 'classification']

In [21]:
df

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,39,2174,White,0,40,Male,<=50K
1,Bachelors,50,?,White,0,13,Male,<=50K
2,HS-grad,38,?,White,0,40,Male,<=50K
3,11th,53,?,Black,0,40,Male,<=50K
4,Bachelors,28,0,Black,0,40,Female,<=50K
5,Masters,37,0,White,0,40,Female,<=50K
6,9th,49,0,Black,0,16,Female,<=50K
7,HS-grad,52,0,White,0,45,Male,>50K
8,Masters,31,14084,White,0,50,Female,>50K
9,Bachelors,42,5178,White,0,40,Male,>50K
10,Some-college,37,0,Black,0,80,Male,>50K
11,Bachelors,30,0,Asian-Pac-Islander,0,40,Male,>50K
12,Bachelors,23,0,White,0,30,Female,<=50K
13,7th-8th,34,0,Amer-Indian-Eskimo,0,45,Male,<=50K
14,HS-grad,25,0,White,0,35,Male,<=50K
15,HS-grad,32,0,White,0,40,Male,<=50K
16,11th,38,0,White,0,50,Male,<=50K
17,Masters,43,0,White,0,45,Female,>50K
18,Doctorate,40,0,White,0,60,Male,>50K
19,HS-grad,54,0,Black,0,20,Female,<=50K
20,9th,35,0,Black,0,40,Male,<=50K
21,11th,43,0,White,2042,40,Male,<=50K
22,HS-grad,59,0,White,0,40,Female,<=50K
23,Bachelors,56,0,White,0,40,Male,>50K
24,HS-grad,19,0,White,0,40,Male,<=50K
25,Some-college,54,0,Asian-Pac-Islander,0,60,Male,>50K
26,HS-grad,39,0,White,0,80,Male,<=50K
27,HS-grad,49,0,White,0,40,Male,<=50K
28,Some-college,20,0,Black,0,44,Male,<=50K
29,Bachelors,45,0,White,1408,40,Male,<=50K
...,...,...,...,...,...,...,...,...
29506,HS-grad,30,0,White,0,55,Male,<=50K
29507,10th,32,0,White,0,40,Male,<=50K
29508,Some-college,22,0,White,0,40,Male,<=50K
29509,HS-grad,31,0,White,0,40,Female,<=50K
29510,HS-grad,29,0,White,0,35,Female,<=50K
29511,Bachelors,35,0,White,0,55,Female,>50K
29512,Bachelors,30,0,Asian-Pac-Islander,0,99,Female,<=50K
29513,Doctorate,34,0,White,0,60,Male,>50K
29514,Bachelors,54,0,Asian-Pac-Islander,0,50,Male,>50K
29515,Some-college,37,0,White,0,39,Female,<=50K
29516,12th,22,0,Black,0,35,Male,<=50K
29517,Bachelors,34,0,White,0,55,Female,>50K
29518,HS-grad,30,0,Black,0,46,Male,<=50K
29519,Bachelors,38,15020,Black,0,45,Female,>50K
29520,Doctorate,71,0,White,0,10,Male,>50K
29521,HS-grad,45,0,White,0,40,Female,<=50K
29522,HS-grad,41,0,Black,0,32,Female,<=50K
29523,HS-grad,72,0,White,0,25,Male,<=50K
29524,Masters,31,0,Other,0,30,Female,<=50K
29525,HS-grad,43,0,White,0,40,Male,<=50K
29526,Some-college,43,0,White,0,40,Female,<=50K
29527,Some-college,43,0,White,0,50,Male,<=50K
29528,10th,32,0,Amer-Indian-Eskimo,0,40,Male,<=50K
29529,Masters,32,0,Asian-Pac-Islander,0,11,Male,<=50K
29530,Masters,53,0,White,0,40,Male,>50K
29531,Some-college,22,0,White,0,40,Male,<=50K
29532,HS-grad,40,0,White,0,40,Male,>50K
29533,HS-grad,58,0,White,0,40,Female,<=50K
29534,HS-grad,22,0,White,0,20,Male,<=50K
29535,HS-grad,52,15024,White,0,40,Female,>50K

In [22]:
df.dtypes

education         object
age                int64
capital-gain      object
race              object
capital-loss       int64
hours-per-week     int64
sex               object
classification    object
dtype: object

Excellent.

Now, use basic pandas commands to look through the dataset. Get a feel for it before proceeding!

Do the data-types of each column reflect the values you see when you look through the data using a text editor / spread sheet program? If you see `object` where you expect to see `int32` or `float64`, that is a good indicator that there might be a string or missing value or erroneous value in the column.

In [23]:
df['capital-gain'] = pd.to_numeric(df['capital-gain'], errors='coerce')

In [24]:
df[df['capital-gain'].isnull()]

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
1,Bachelors,50,NaN,White,0,13,Male,<=50K
2,HS-grad,38,NaN,White,0,40,Male,<=50K
3,11th,53,NaN,Black,0,40,Male,<=50K
659,HS-grad,44,NaN,White,0,40,Female,<=50K

Try use `your_data_frame['your_column'].unique()` or equally, `your_data_frame.your_column.unique()` to see the unique values of each column and identify the rogue values.

If you find any value that should be properly encoded to NaNs, you can convert them either using the `na_values` parameter when loading the dataframe. Or alternatively, use one of the other methods discussed in the reading.

In [25]:
df.isnull().sum()

education         0
age               0
capital-gain      4
race              0
capital-loss      0
hours-per-week    0
sex               0
classification    0
dtype: int64

Look through your data and identify any potential categorical features. Ensure you properly encode any ordinal and nominal types using the methods discussed in the chapter.

Be careful! Some features can be represented as either categorical or continuous (numerical). If you ever get confused, think to yourself what makes more sense generally---to represent such features with a continuous numeric type... or a series of categories?

Lastly, print out your dataframe!

In [26]:
df.dtypes

education          object
age                 int64
capital-gain      float64
race               object
capital-loss        int64
hours-per-week      int64
sex                object
classification     object
dtype: object

In [27]:
df.education.unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       '7th-8th', 'Doctorate', '5th-6th', '10th', '1st-4th', 'Preschool',
       '12th'], dtype=object)

In [28]:
ordered_education = ['Preschool', '1st-4th', '5th-6th', '7th-8th', '9th', '10th', '11th', '12th',
                  'HS-grad', 'Some-college', 'Bachelors', 'Masters', 'Doctorate']
df['education'] = df['education'].astype(pd.api.types.CategoricalDtype(
    categories=ordered_education, ordered=True)).cat.codes

In [29]:
df.dtypes

education            int8
age                 int64
capital-gain      float64
race               object
capital-loss        int64
hours-per-week      int64
sex                object
classification     object
dtype: object

In [30]:
df['race'] = df['race'].astype(pd.api.types.CategoricalDtype(ordered=False)).cat.codes

In [31]:
df['sex'] = df['sex'].astype(pd.api.types.CategoricalDtype(ordered=False)).cat.codes

In [32]:
df.classification.unique()

array(['<=50K', '>50K'], dtype=object)

In [33]:
ordered_classification = ['<=50K', '>50K']
df['classification'] = df['classification'].astype(pd.api.types.CategoricalDtype(
    categories=ordered_classification, ordered=True)).cat.codes

In [34]:
df.dtypes

education            int8
age                 int64
capital-gain      float64
race                 int8
capital-loss        int64
hours-per-week      int64
sex                  int8
classification       int8
dtype: object

In [35]:
df

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,10,39,2174.0,4,0,40,1,0
1,10,50,NaN,4,0,13,1,0
2,8,38,NaN,4,0,40,1,0
3,6,53,NaN,2,0,40,1,0
4,10,28,0.0,2,0,40,0,0
5,11,37,0.0,4,0,40,0,0
6,4,49,0.0,2,0,16,0,0
7,8,52,0.0,4,0,45,1,1
8,11,31,14084.0,4,0,50,0,1
9,10,42,5178.0,4,0,40,1,1
10,9,37,0.0,2,0,80,1,1
11,10,30,0.0,1,0,40,1,1
12,10,23,0.0,4,0,30,0,0
13,3,34,0.0,0,0,45,1,0
14,8,25,0.0,4,0,35,1,0
15,8,32,0.0,4,0,40,1,0
16,6,38,0.0,4,0,50,1,0
17,11,43,0.0,4,0,45,0,1
18,12,40,0.0,4,0,60,1,1
19,8,54,0.0,2,0,20,0,0
20,4,35,0.0,2,0,40,1,0
21,6,43,0.0,4,2042,40,1,0
22,8,59,0.0,4,0,40,0,0
23,10,56,0.0,4,0,40,1,1
24,8,19,0.0,4,0,40,1,0
25,9,54,0.0,1,0,60,1,1
26,8,39,0.0,4,0,80,1,0
27,8,49,0.0,4,0,40,1,0
28,9,20,0.0,2,0,44,1,0
29,10,45,0.0,4,1408,40,1,0
...,...,...,...,...,...,...,...,...
29506,8,30,0.0,4,0,55,1,0
29507,5,32,0.0,4,0,40,1,0
29508,9,22,0.0,4,0,40,1,0
29509,8,31,0.0,4,0,40,0,0
29510,8,29,0.0,4,0,35,0,0
29511,10,35,0.0,4,0,55,0,1
29512,10,30,0.0,1,0,99,0,0
29513,12,34,0.0,4,0,60,1,1
29514,10,54,0.0,1,0,50,1,1
29515,9,37,0.0,4,0,39,0,0
29516,7,22,0.0,2,0,35,1,0
29517,10,34,0.0,4,0,55,0,1
29518,8,30,0.0,2,0,46,1,0
29519,10,38,15020.0,2,0,45,0,1
29520,12,71,0.0,4,0,10,1,1
29521,8,45,0.0,4,0,40,0,0
29522,8,41,0.0,2,0,32,0,0
29523,8,72,0.0,4,0,25,1,0
29524,11,31,0.0,3,0,30,0,0
29525,8,43,0.0,4,0,40,1,0
29526,9,43,0.0,4,0,40,0,0
29527,9,43,0.0,4,0,50,1,0
29528,5,32,0.0,0,0,40,1,0
29529,11,32,0.0,1,0,11,1,0
29530,11,53,0.0,4,0,40,1,1
29531,9,22,0.0,4,0,40,1,0
29532,8,40,0.0,4,0,40,1,1
29533,8,58,0.0,4,0,40,0,0
29534,8,22,0.0,4,0,20,1,0
29535,8,52,15024.0,4,0,40,0,1